.article {
 
    &__header {
      color: limegreen;
      transition: color 2s linear, padding 1s ease-in-out;
      padding: 16px;

      &:hover {
        color:red;
        padding: 32px;
      }
      
      &::before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 10%;
        background: yellow;
        margin-right: 10px;
       
      }
      &::after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: purple;
        margin-left: 10px;
      }
    }
    &__description {
      color: green;
      transition: transform 2s linear;
      &:hover {
        background: rgb(73, 70, 70);
        transform : translate( 20px,50px);
       
      }
    }
   
  }
  