@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";


@import "modules/navigation.scss";
@import "modules/article.scss";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap');
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
 background: green;
  
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
}



section {
  background: black;
}

h4 {
  color: white;
}

#top {
  color: lawngreen;
}
nav a {
  color: yellow;
}
.header {
  min-height: 60px;
  position: fixed;
  top: 5px;
  width: 100%;
}

.main {
  max-width: 1000px;
  margin: 60px auto 0;
  &__header {
    background: rgba(85, 13, 85, 0.603);
    padding: 10px;
    border: 5px solid rgb(85, 13, 85);
    border-radius: 20px;
    margin: 20px;
  }
  &__heading {
    color: rgb(153, 31, 31);
  }
}

.about {
  background: black;
  padding: 20px;
  border: 5px solid blue;
  border-radius: 20px;
  margin: 20px;
  &__heading {
    color: blue;
   
  }
  &__picture {
    display: block;
    max-width: 100%;
    padding: 0px 20px;
  }
  &__description {
    color: #24b4f7;
  }
  &__link {
    color: purple;
  }
}

.section {
  background: black;
  padding: 20px;
  border: 5px solid blue;
  border-radius: 20px;
  margin: 20px;
  &__header {
    color: blue;
    font-weight: 100;
  }
}

.footer {
  justify-content: center;
  margin: 10px auto;
  display: flex;
  &__link {
    color: tomato;
  }
}

.css__about {
  background-color: lightblue;
}
.section__css {
  background: rgba(240, 125, 125, 0.199);
  padding: 20px;
  border: 5px solid blue;
  border-radius: 20px;
  margin: 20px;
 
  }

.form {
  width: 500px;
  color: blue;
  &__item {
    display: block;
    width: 100%;
  }
}

.form label {
  display: block;
}
.form textarea {
  width: 100%;
  height: 50px;
}
.klasa-z-js {
  background: yellow;
}

.hamburger {
  color: rgb(26, 224, 26);
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: none;
}

.list {
  list-style: upper-roman;
}

.table {
  align-items: center;
  width: 100%;
  max-width: 1000px;
  border: solid;
  border-radius: 10px;
  background-color: chartreuse;
}

@media (min-width: 768px) {
  .navigation {
    background: tomato;
    padding: 0px;
    border: 10px;
    margin: 10px;
    border-radius: 10px;
    position: sticky;
    top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__link {
      display: inline-block;
      color: #0e5575;
      padding: 5px 5px;
      border-radius: 10px;
      margin: 5px 5px;
      border: solid;
      background: none;
    }
  }

  .hamburger {
    display: none;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
  }
}
:root{
  --background-color: #fefefe;
  --text-color: black;
}
.html__body{
  background:var(--background-color);
  color:var(--text-color);

}